
package templates

templ ResponseViewer(jsonResponse string) {
    <div id="api-response-viewer" class="response-viewer">
        <h4>Response:</h4>
        <pre><code>{ jsonResponse }</code></pre>
    </div>
}